<!-- <div class="table-container">
    <table>
        <thead >
            <tr class="table-head">
                @for (header of tableHeader; track $index) {
                    <th>{{header}}</th>
                }
            </tr>

        </thead>
        <tbody class="table-body">
            @for (user of user; track $index) {
                <tr>
                    @for (header of tableHeader; track $index) {
                      <td>{{user[header] | json}}</td>  
                    }
                </tr>
            }
        </tbody>
    </table>
</div> -->

